.accordian {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  transition: 0.4s;
}

.active-accordian,
.accordion:hover {
  background-color: #ccc;
}

.accordian-contents {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
