*.swp
target/
pkg/
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
dist
src/schemas/*.ts
src/style/main.css
src/style/main.css.map
.sass-cache/
public/assets
public/layers
public/private_layers
