/* This is for a page with a map, collapsable sidebar, and collapsable bottom form area. */
* {
  box-sizing: border-box;
}

/* The application layout */
body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;

  font-size: 16px;

  /* Two columns, the sidebar on the left, and the main content on the right. */
  display: flex;
  flex-flow: row nowrap;
}

body > aside {
  position: relative; /* for children who want to position:absolute */

  flex: 0;
  min-width: 25rem; /* use min/max-width because we're in a flex containter. */
  max-width: 25rem;
}
.sidebar-content {
  width: 25em; /* Keep the size constant, so the map overlaps it when it collapses. */
}
body > aside.collapsed {
  min-width: 1.5rem;
  max-width: 1.5rem;
}

body > main {
  flex-grow: 1;

  /* Potentially split in two: map on the top, form on the bottom. */
  display: flex;
  flex-flow: column nowrap;
}

#map {
  position: relative; /* for children who want to position:absolute */

  flex-grow: 1;
}

#panel {
  flex-grow: 0;
  height: 50vh;
}
#panel:empty {
  height: 0 !important;
}

#basemaps-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 80px;
  right: 10px;
  background: rgba(255, 255, 255, 0);
}

#basemaps {
  font-size: 16px;
  padding: 4px 8px;
}


/* Components */
.content-container {
  padding: 1rem;
}

.rounded-rect {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 50px -25px black;
}

/* The sidebar */
.sidebar-toggle {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: -2rem;

  width: 2.5rem;
  height: 2.5rem;

  overflow: visible;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  user-select: none;

  transition: transform 0.2s;
  transform: rotate(180deg);
}
.sidebar-toggle:hover {
  color: #0aa1cf;
  cursor: pointer;
}
.collapsed .sidebar-toggle {
  transform: rotate(0deg);
}
