/* This is for a page with a map, collapsable sidebar, collapsable bottom form area, and modal popup. */

/* Defaults */
* {
  box-sizing: border-box;
}
body {
  font: 16px Helvetica Nueu, Arial, Helvetica, sans-serif;
}

/* The application layout */
body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;

  /* Two columns, the sidebar on the left, and the main content on the right. */
  display: flex;
  flex-flow: row nowrap;
}

body > aside {
  position: relative; /* for children who want to position:absolute */

  flex: 0;
  min-width: 25rem; /* use min/max-width because we're in a flex containter. */
  max-width: 25rem;
}
.sidebar-content {
  width: 25em; /* Keep the size constant, so the map overlaps it when it collapses. */

  max-height: 100%;
  overflow-y: auto;
}
body > aside.collapsed {
  min-width: 0px;
  max-width: 0px;
}

body > main {
  flex-grow: 1;

  /* Potentially split in two: map on the top, form on the bottom. */
  display: flex;
  flex-flow: column nowrap;
}

#map {
  position: relative; /* for children who want to position:absolute */

  flex-grow: 1;
}

#panel {
  flex-grow: 0;
  max-height: 50vh;
  overflow-y: auto;
}
#panel:empty {
  display: none;
}

/* The map */
#basemaps-wrapper {
  z-index: 1;
  position: absolute;
  top: 150px;
  right: 10px;
  background: rgba(255, 255, 255, 0);
}

#basemaps {
  font-size: 16px;
  padding: 4px 8px;
}

/* Components */
.content-container {
  padding: 1rem;
}

.rounded-rect {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 50px -25px black;
}

/* The sidebar */
.sidebar-toggle {
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: -2rem;

  width: 2.5rem;
  height: 2.5rem;

  overflow: visible;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  user-select: none;

  transition: transform 0.2s;
  transform: rotate(180deg);
}
.sidebar-toggle:hover {
  color: #0aa1cf;
  cursor: pointer;
}
.collapsed .sidebar-toggle {
  transform: rotate(0deg);
}

.sidebar-content > nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.sidebar-content > nav a {
  margin-right: 1em;
  padding: 0.5rem;
  background: #ddd;
  border-radius: 0.5rem;

  text-decoration: none;
}
.sidebar-content > nav a.current {
  text-decoration: underline;
  background-color: #aaa;
  /* Clicking the current tab just erases state; it's not useful */
  pointer-events: none;
}
.sidebar-content > nav a:hover {
  background-color: #bbb;
}
.sidebar-content > nav a:active {
  background-color: #999;
}

/* The forms */

fieldset {
  margin: 0.25em -8px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
}

.form-row {
  margin: 0.25rem 0;
}

.form-row label {
  display: inline-block;
  width: 25em;
  margin-right: 2em;
}

textarea {
  resize: none;
}

/* Modal popup */

.modal-popup {
  background: white;
  padding: 30px;
  border: 1px solid black;
}

.centered-fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide-modal {
  visibility: hidden;
}

.link-button {
  border: none;
  padding: 0.5rem;
  background: #ddd;
  border-radius: 0.5rem;
}

/* Override mapbox-gl-draw */

.mapboxgl-ctrl-group > button {
  width: 60px;
  height: 60px;
}

.mapbox-gl-draw_polygon,
.mapbox-gl-draw_line {
  background-size: 50px;
}
