name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  VITE_MAPTILER_API_KEY: '${{ secrets.MAPTILER_API_KEY }}'

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-node@v3
      with:
        node-version: 22.x
        cache: 'npm'

    - name: Install wasm-pack
      uses: jetli/wasm-pack-action@v0.4.0

    - name: Install dependencies
      run: npm ci

    - name: Setup GOV.UK
      run: npm run setup-govuk

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run type-checker
      run: npm run check

    - name: Run Playwright tests
      run: npm test

    - name: Upload test results
      run: npx github-actions-ctrf ctrf/ctrf-report.json
      if: always()

    - name: Upload test results for historical report
      uses: actions/upload-artifact@v4
      with:
        name: ctrf-report
        path: ctrf/ctrf-report.json
      if: always()
